.box {
    background-color: chocolate;
    margin: auto;
    font-size: medium;
}

#wrapper {
    padding: 20px;
    margin: auto;
}

h1 {
    text-align: center;
}

body {
    background-image: url('img/menuBG.png');
    background-position: center center;
    color: white;
}